*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav2{
        height: 90px;
        width: 100%;
        background-color: black;
        display: flex;
}
#nav2>article{
    height: 73px ;
    width: 60% ;
    display: flex;
    align-items: center;
}
#nav>article>.Logo2{
    height: 73px;
    width: 50%;
    display: flex;
    align-items: center;
}
#nav2>article>.Logo2>img{
    height: 50px;
    width: 120%;
    justify-content: space-evenly;
}
#nav2>article>.Menu2{
    height: 73px;
    width: 90%;
    }
#nav2>article>.Menu2>ul{
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    list-style-type: none;
}
#nav2>article>.Menu2>ul>li>a{
    text-decoration: none;
    justify-content: space-evenly;
    color: white;
    font-weight: 400;
    font-size: medium;
}
#nav2>article>.Menu2>ul>li>a:hover{
    cursor: pointer;
    animation: arko;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}
#nav2>article>.Search>label{
    display: flex;
    background-color: white;

}
#nav2>article>.Button>button{
    /* display: flex;
    justify-content: space-evenly; */

    margin-left: 50px;
}
@keyframes arko {
    25%{color: orange;}
    50%{color: blue;}
    75%{color: white;}
    100%{color: greenyellow;}
}
